.standardTable{
	width:100%;
	background:#ffffff;
	border-collapse: collapse;
}
.standardTable th{
	border:1px solid #ccc;
	font-size:14px;
	line-height:25px;
	background:-moz-linear-gradient(top,#73B1E0,#FFFFFF);
	color:#000;
	height:25px;
}
.standardTable td{
	border:1px solid #ccc;
}
.standardTable tr:nth-child(odd){background:#F4F4F4;}
.standardTable tr:hover{background:#73B1E0;color:#FFF;opacity:0.5;}

.noBorderTable{}
.noBorderTable th{
	border:0px;
}
.noBorderTable td{
	border:0px;
}

@media screen and (max-width:600px){
	table{border:0px;}
	table thead{display:none;}
	table tr{margin-bottom:10px;display:block;}
	table td{display:block;text-align:right;}
	table td:before{content:attr(data-label);float:left;text-transform:uppercase;}
}